html,body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #daf6ff;
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
}